
#loader{
    position: fixed;
    inset: 0;
    z-index: 10010;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loader img{
    border-radius: 50%;
    height: 0px;
    transition: .4s ease-out;
  }
  #loader img:nth-of-type(2),
  #loader img:nth-of-type(6){
    height: 15px;
  }
  #loader img:nth-of-type(3),
  #loader img:nth-of-type(5){
    height: 30px;
    opacity: 0.7;
  }
  #loader img:nth-of-type(4){
    height: 45px;
  }
  #loader img:nth-of-type(7){
    height: 5px;
  }
  .bg-dark #loader{
    background-color: #3f3f3f;
    color: #f3f3f3;
  }
  .bg-light #loader{
    background-color: #f7f7f7;
    color: #2c2c2c;
  }
  .loader-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  
.bg-dark #loader img{
  outline: 4px solid #f7f7f7;
}
.bg-light #loader img{
  outline: 4px solid #3f3f3f;
}
  @keyframes scroller {
    
  }

