.review-card{
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 0.7rem;
    display: grid;
    row-gap: .5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px #1f1f1f;
    transition: .1s;
    flex: 0 0 13rem;
}
.review-card:hover{
    transform: scale(0.96);
}
.review-img{
    width: 10vh;
    height: 10vh;
    margin: auto;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid #ffc61b;
    overflow: hidden;
}
.review-star{
    color: #a7a7a7;
}
.review-img img{
    width: 100%;
}
.card-date{
    text-align: right;
}