#hero-section{
    min-height: 50vh;
    background-color: #263b7a;
    color: white;
}

#promo{
    grid-column: 1/6;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
#instant-food{
    grid-column: 6/ span 12;
    display: flex;
    justify-content: end;
    position: relative;
}
#scroll-food{
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}
.scroller{
    width: 59%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.arrw-btn {
    background-color: lightgray;
    color: black;
    font-size: 2rem;
    border-radius: 8px;
}
.arrw-btn:hover{
    background-color: white;
    box-shadow: 1px 1px 4px white;
}
.scroller .card{
    text-align: center;
    transition: transform 0.5s ease-in-out;
    padding: 12%;
}
.dish-img{
    background-color: white;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    padding: 15px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    transition: transform 0.5s ease-in-out;
}
.dish-img img{
    border-radius: 50%;
}
.dish-img:hover{
    padding: 20px;
}


@media screen and (max-width: 1250px) {

}
@media screen and (max-width: 1150px) {

}
@media screen and (max-width: 950px) {
    #scroll-food{
        top: -40%;
    }
}
@media screen and (max-width:890px) {
    #scroll-food{
        top: -30%;
    }
}

