#hero-section{
    min-height: 40vh;
    background-size: cover;
    background-blend-mode:multiply;
}

#promo{
    grid-column: 1/6;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 2rem 0;
}
#instant-food{
    grid-column: 6/ span 12;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
#scroll-food{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroller{
    width: 59%;
    display: flex;
    align-items: center;
    overflow: hidden;
    filter: drop-shadow(10px 10px 15px #00000080);
}
.arrw-btn {
    background-color: lightgray;
    color: black;
    font-size: 2rem;
    border-radius: 8px;
}
.arrw-btn:hover{
    background-color: white;
    box-shadow: 1px 1px 4px white;
}
.scroller .card{
    text-align: center;
    transition: transform 0.5s ease-in-out;
    padding: 12%;
}
.dish-img{
    background-color: white;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    padding: 15px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    transition: transform 0.5s ease-in-out;
}
.dish-img img{
    border-radius: 50%;
}
.dish-img:hover{
    padding: 20px;
}


@media screen and (max-width: 1250px) {

}
@media screen and (max-width: 1150px) {

}
@media screen and (max-width: 950px) {
    #scroll-food{
        top: -40%;
    }
}
@media screen and (max-width:890px) {
    #scroll-food{
        top: -30%;
    }
}

