

#navbar{
  z-index: 9999;
  position: fixed;
  inset: 0;
  bottom: auto;
  padding: 1rem 15%;
  box-shadow: 1px 1px 5px black;
  overflow: visible;
} 
#navbar a{
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo-img{
    font-size: 50px;
    padding: 3px;
    background-color: #f5c536;
    border-radius: 8px;
    margin-right: 8px;
    color: black;
    transition: 0.5s;
}

.logo h1{
    margin: 0 .5rem;
}

.nav-links{
    display: flex;  
    justify-content: end;
    grid-column: 6/11;
    position: relative;
    transition:0.5s;
}
.nav-item{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.nav-link{
    padding: 0 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 0 1rem;
}
.nav-icon img{
    height: 28px;
    transition: .5s;
}
.bg-dark .logo{
    color: white;
}
.bg-light .logo,
.bg-light .logo-img{
    color: black;
}
.bg-dark .nav-link{
    color: #c9c9c9;
}
.bg-light .nav-link{
    color: #585858;
}
.nav-item .nav-link:hover{
    color: #f5c536;
}
.bg-dark .nav-item .active{
    color: white;
    border-bottom: 2px solid #f5c536;
}
.bg-light .nav-item .active{
    color: black;
    border-bottom: 2px solid #f5c536;
}
#nav-icons{
    grid-column: 11/13;
    justify-content: flex-start;
    display: flex;
    height: 100%;
}
#toggleMenu{
    display: none;
}

.nav-hover-box{
    position: absolute;
    top: 100%;
    right: 0%;
    box-shadow: 1px 1px 10px black;
    font-weight: normal;
    z-index: 999999;
    display: none;
}
.nav-hover-item{
    padding: 0.5rem 2rem;
}
.bg-dark .nav-hover-item:hover{
    background-color: #3d3d3d;
}
.bg-light .nav-hover-item:hover{
    background-color: #e6e6e6;
}
.nav-hover-logout{
    border-top: 1px solid #ffc400;
    padding: 0.5rem 2rem;
}
.bg-dark .nav-hover-logout:hover{
    color: #f2ff81;
}
.bg-light .nav-hover-logout:hover{
    color: #ffbb00;
}
.nav-user-name:hover .nav-hover-box{
    display: block;
}

@media (max-width: 1080px) {
    #navbar{
      padding-left: 2rem;
      padding-right: 2rem;
    }
}

@media (max-width: 800px) {
    .d-none-800{
        display: none;
    }
    .nav-links{
        grid-column: 7/13;
    }
    .nav-link{
        padding: 0 1.5rem;
    }
    .logo-img{
        font-size: 40px;
    }
    #nav-icons{
        position: absolute;
        right: 0px;
        top: 100%;
        padding: 0px;
        border-radius: 2rem;
        box-shadow: 1px 1px 5px black;
        height: auto;
    }
    .nav-icon{
        padding: 1rem;
    }
    .bg-dark #nav-icons{
        background-color: #292929;
    }
    .bg-light #nav-icons{
        background-color: white;
    }
}
@media (max-width: 650px) {
    .nav-hover-box{
        width: 100%;
    }
    #navbar{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .logo-img{
        font-size: 36px;
    }
    .nav-links{
        flex-direction: column;
        grid-column: 1/13;
        position: absolute;
        width: 100%;
        height: 220px;
        box-shadow: 1px 1px 5px black;
        transition:height 0.5s;
        z-index: 1000000;
        padding: 10px;
    }
    .hideMenu{
        top: -230px;
    }
    .showMenu{
        top: 100%;
    }
    .bg-dark .nav-links{
      background-color: #3f3f3f;
      color: #f3f3f3;
      transition: .5s;
    }
    .bg-light .nav-links{
      background-color: #f7f7f7;
      color: #2c2c2c;
      transition: .5s;
    }
    .nav-link{
        padding: 1rem;
        width: 100%;
    }
    #nav-icons{
        right: 0px;
        top: 0px;
        padding: 0;
        height: 100%;
    }
    .nav-icon{
    padding: 0 8px;
    font-size: 22px;
    
    }
    .bg-light #nav-icons,
    .bg-dark #nav-icons{
        background-color: transparent;
        box-shadow: none;
    }
    .nav-icon img{
        height: 22px;
        transition: .5s;
    }
    #toggleMenu{
        display: flex;
    }
}
