#navbar a{
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo .logo-img{
    font-size: 54px;
    padding: 3px;
    background-color: #f5c536;
    border-radius: 8px;
    margin-right: 1rem;
    color: black;
}

.logo h1{
    margin: 0 .5rem;
}

.nav-links{
    display: flex;  
    justify-content: end;
    grid-column: 6/ span 12;
}
.nav-item{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.nav-link{
    padding: 0 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.bg-dark .logo{
    color: white;
}
.bg-light .logo,
.bg-light .logo-img{
    color: black;
}
.bg-dark .nav-link{
    color: #c9c9c9;
}
.bg-light .nav-link{
    color: #585858;
}
.nav-item .nav-link:hover{
    color: #f5c536;
}
.bg-dark .nav-item .active{
    color: white;
    border-bottom: 2px solid #f5c536;
}
.bg-light .nav-item .active{
    color: black;
    border-bottom: 2px solid #f5c536;
}