.event-cards{
    grid-column: 1/ span 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
    grid-column: 1/ span 12;
}
.event-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius: 1rem;
    overflow: hidden;
}
.event-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-content{
    padding: 1rem;
    background: linear-gradient(to bottom, transparent, black 50%);
}
.event-des{
    height: 0px;
    overflow: hidden;
}
.event-card:hover .event-des{
    height: auto;
}