.cards .card{
    border-radius: 1rem;
    overflow: hidden;
    position:relative;
    padding-bottom: 2rem;
    transition: 0.1s;
    flex: 0 0 13rem;
    box-shadow: 1px 1px 5px #1f1f1f;
}
.cards .card:hover{
    transform: scale(0.96);
}
.card-img{
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background-color: lightgray;
    margin: 4px;
}
.img-shade{
    background:linear-gradient(to top, black 10%, transparent);
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    padding: 0.8rem;
    color: white;
}
.card-img img{
    width: 100%;
    transition: 0.1s;
}
.cards .card:hover img{
    transform: scale(1.05);
}
.card-detail{
    padding: .8rem;
}
.card-title{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.item-name{
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.card-p{
    font-size: .8rem;
    text-align: justify;
    line-height: 1.2rem;
    padding: 0.5rem 0 0 0;
}
.card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0.8rem;
    left: 0.8rem;
    bottom: 0.8rem;
}
.card-bottom button{
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
}
.card-bottom .add-btn{
    background-color: #fcca35;
}
.card-bottom .remove-btn{
    background-color: #fa3a3a;
    color: white;
}
.card-bottom .add-btn:hover{
    background-color: #ffc61b;
}
.card-bottom .remove-btn:hover{
    background-color: #ff1b1b;
    color: white;
}
.card-bottom .add-btn:active{
    outline: 1px solid #ffc61b;
}
.card-bottom .remove-btn:active{
    outline: 1px solid #ff1b1b;
    color: white;
}