
  
.bg-footer{
  background-color: #222222;
  color: #f3f3f3;
  transition: .4s;
}
.bg-footer a{
  color: #c2c2c2;
}
.bg-footer a:hover{
  color: white;
}
  .footer-grid {
    display: grid;
    grid-template-columns: .8fr repeat(2, 1fr);
    gap: 2rem;
    text-align: left;
  }
  footer ul{
    list-style: none;
  }
  .footer-bottom {
    margin-top: 2rem;
    border-top: 1px solid #696868;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  #footer-logo a{
    text-decoration: none;
    color: white;
  }
  .footer-column, footer ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  footer li a{
    text-decoration: none;
  }
  .col-right{
    text-align: right;
  }
  .social-icons a{
    margin-left: 1rem;
  }

  @media (max-width: 650px) {
    .footer-grid{
      grid-template-columns: 1fr 1fr;
    }
    .f-col-1{
      grid-column: 1/3;
    }
    .footer-bottom{
      flex-direction: column;
    }
  }