
.booking-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #1f1f1f;
}
.booking-card > div{
    width: 100%;
}
.booking-card > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.booking-card .item-g {
    width: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
}
.b-item{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
}