#booking-Cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem 0 0 0;
}
.booking-card{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #1f1f1f;
}
.booking-card .item-g {
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    align-items: center;
    position: relative;
}
.b-item{
    display: flex;
    gap: 8px;
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    font-size: 13px;
}
.pay-btn{
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #00b436fd;
    color: white;
}

@media (max-width: 650px) {
    #booking-Cards{
        grid-template-columns: 1fr;
    }
}
