*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  margin-block-start: 0;
  margin-block-end: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
sup{
  position: absolute;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #7a7a7a;
}
body{
  overflow: hidden;
}
#darkMode{
  width: 100%;
  overflow: auto;
  position: fixed;
  top: 5rem;
  bottom: 0px;
}
.alert-container{
  position: absolute;
  top: 100%;
  z-index: 9;
  width: 100%;
  overflow: hidden;
}
.alert{
  width: 100%;
  min-height: 0px;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.alert.show{
  transform: translateY(0);
}
.alert.hide{
  transform: translateY(-100%);
}
.alert span{
  padding: 1rem 0;
}
.alert-red{
  background-color: #ff8c8c;
  color: #910000;
}
.alert-green{
  background-color: #a8fd8e;
  color: #008300;
}
.alert-yellow{
  background-color: #ffeb7d;
  color: #777700;
}
.alert-type{
  font-weight: bold;
}
.alert-close{
  font-size: 24px;
  display: flex;
  align-items: center;
  flex: 0 0 25px;
  text-align: right;
}
.alert-close:hover{
  color: white;
}

.bg-yellow{
  background-color: #fccc3c;
  color: #2c2c2c;
  transition: .5s;
}
.bg-dark{
  background-color: #3f3f3f;
  color: #f3f3f3;
  transition: .5s;
}
.bg-light{
  background-color: #f7f7f7;
  color: #2c2c2c;
  transition: .5s;
}
.bg-light .bg-item{
  background-color: white;
  color: #2c2c2c;

}
.bg-dark .bg-item{
  background-color: #2e2e2e;
  color: #f3f3f3;

}
.bg-light #form-body{
  background-color: #474747;
  color: #f3f3f3;

}
.bg-dark #form-body{
  background-color: #2e2e2e;
  color: #f3f3f3;

}
.bg-dark a{
  color: #c2c2c2;
}
.bg-dark a:hover{
  color: white;
}
.bg-dark .output{
  background-color: #3f3f3f;
}
.bg-light .output{
  background-color: #f7f7f7;
}
.bg-dark .svg{
  filter: invert(95%);
}
.bg-dark .sh{
  width: 8px;
  height: 100%;
  background-color: #ffc61b;
  margin-right: .5rem;
  float: left;
}
.bg-yellow .sh,
.bg-light .sh{
  width: 8px;
  height: 100%;
  background-color: #222222;
  margin-right: .5rem;
  float: left;
}
.grid{
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: auto;
  padding: 2rem 15%;
  overflow: hidden;
}
#checkout,
#login-section,
#table-section{
  min-height: 100%;
}
.container{
  grid-column: 1 / span 12;
}
.categories-box{
  grid-column: 1/ 13;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.ca-btn-g{
  display: flex;
}
.h-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.h-group .icon{
  font-size: 44px;
}
.h1{
  font-size: 48px;
  text-wrap: nowrap;
}
.h2{
  font-size: 32px;
  text-wrap: nowrap;
}
.p{
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bg-light .btn-red,
.bg-dark .btn-red{
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: #f74c4c;
  font-weight: bold;
  color: #ececec;
  font-size: 1rem;
  outline: none;
}

.bg-light .btn-yellow,
.bg-dark .btn-yellow{
  padding: 10px 16px;
  border-radius: 8px;
  border:none;
  background-color: #fccc3c;
  font-weight: bold;
  color: #2b2b2b;
  font-size: 1rem;
  outline: none;
}
.btn-yellow:hover{
  background-color: #ffc61b;
  color: #000000;
}
.btn-yellow:focus{
  outline: 1px solid #ffc61b;
}
.btn-red:hover{
  background-color: #fd3535;
  color: white;
}
.btn-red:focus{
  outline: 1px solid #fd3535;
}
.cards{
  grid-column: 1/ span 12;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 1rem 5px;
}
.fix-card{
  justify-content: space-around;
}
.cards::-webkit-scrollbar{
  height: 10px;
}
.cards::-webkit-scrollbar-track{
  border-radius: 5px;
  background-color: rgb(192, 192, 192);
}
.cards::-webkit-scrollbar-thumb{
  background-color: #7a7a7a;
  border-radius: 5px;
}
.cards::-webkit-scrollbar-thumb:hover{
  background-color: #ffc61b;
}
.footer-container {
  padding: 2rem 15%;
}
.bg-dark .input-group{
  background-color: #3f3f3f;
  color: #f3f3f3;
}
.bg-dark .input-icon{
  background-color: #3f3f3f;
}
.bg-light .input-icon{
  background-color: #f7f7f7;
}
.bg-dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.95);
}
.bg-dark .input-group,
.bg-dark input, 
.bg-dark select, 
.bg-dark textarea{
  background-color: #3f3f3f;
  color: #f3f3f3;
  outline: 1px solid #8a8a8a;
}
.bg-dark input::placeholder, 
.bg-dark textarea::placeholder {
  color: #adadad;
}
.bg-light .input-group,
.bg-light input, 
.bg-light select, 
.bg-light textarea{
  background-color: #f7f7f7;
  color: #2c2c2c;
  outline: 2px solid #b6b6b6;
}
input, select, textarea{
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  width: 100%;
  appearance: none;
}
.input-group input[type="date"],
input[type="date"]{
  font-size: 13px;
}

.form-control h3,
.form-control ul,
.form-control input,
.form-control select,
.form-control textarea,
.form-control .input-group{
  grid-column: 1/3;
}
.form-control-half{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  width: 100%;
}
.half-control{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  row-gap: 3px;
  width: 100%;
}
.form-control{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  column-gap: 2rem;
  row-gap: 3px;
  width: 100%;
}
label{
  grid-column: 1/3;
}
.col-1{
  grid-column: 1/2;
}
.col-2{
  grid-column: 1 / 3;
}
.col-4{
  grid-column: 1 / 5;
}
textarea{
  width: 100%;
}
.input-group input,
.input-group select{
  margin: 0;
  border-radius: 0;
  outline: none;
  width: 100%;
  font-size: 15px;
}
.in-center input{
  text-align: center;
}
.input-group{
  display: flex;
  align-items: center;  
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.input-icon{
  display: flex;
  font-size: 15px;
  padding: 12px;
  position: absolute;
  right: 0;
  height: 100%;
}
.form-control textarea:focus,
.form-control > select:focus,
.form-control > input:focus,
.input-group:focus-within {
  outline: 1px solid #ffc61b;
  border-radius: 5px;
}
.form-col-2{
  display: grid;
  grid-template-columns: 235px 235px;
  gap: 1rem 2rem;
}
.form-col-2.overview{
  row-gap: 0;
}
.form-col-2 .h2{
  margin-bottom: 1rem;
}
.form-col-1{
  display: grid;
  grid-template-columns: 270px;
  gap: 1rem 2rem;
}
#form-body{
  grid-column: 1/span 12;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
}
.form-btn{
  margin-top: 1rem;
  width: 100%;
}
.form-link{
  width: 100%;
  text-align: center;
  padding: 8px;
}
#form-body .image{
  background-size: cover;
  background-position: center;
}  
.empyty-cart{
  height: 300px;
  flex-direction: column;
}
.form-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.table-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}
.table-box table{
  width: 100%;
}
.table-box thead th{
  border-bottom: 1px solid white;
  padding: 0.5rem;
}
.table-box tfoot th{
  border-top: 1px solid white;
  padding: 0.5rem;
}
.table-box table td{
  padding: 0.5rem;
}
.t-center{
  text-align: center;
}
.t-right{
  text-align: right;
}
.t-left{
  text-align: left;
}
.form-box a{
  grid-column: 1/3;
}
.hidden{
  display: none;
}
.overview-ul{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
}
.overview-ul li{
  padding: 8px;
  display: flex;
  gap: 8px;
}
.half-control .error-msg,
.form-control .error-msg{
  grid-column: 1/3;
  color: #ff6060;
  font-size: 12px;
}
#black-wall{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: black;
  opacity: 0.5;
  transition: 0.2s;
}
.black-wall-show{
  inset: 0px;
}
.black-wall-hide{
  inset: 0px;
  left: 100%;
}
.d-icon-650{
  display: none;
}
.highlight{
  color: #ffbf00;
}
@media (max-width: 1080px) {
  .grid, .footer-container{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 920px) {
  .table-box,
  .form-box{
    grid-column: 1/3;
  }
}
@media (max-width: 800px) {
  #darkMode{
    top: 4rem;
  }
  ::-webkit-scrollbar{
    width: 5px;
  }
}
@media (max-width: 650px) {
  .grid, .footer-container, .alert{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .categories-box{
    margin-top: 0px;
  }
.form-col-2{
  display: grid;
  grid-template-columns: 235px 235px;
}
.form-col-1{
  display: grid;
  grid-template-columns: 270px;
}
::-webkit-scrollbar{
  width: 0px;
}
.cards::-webkit-scrollbar{
  height: 0px;
}
.form-col-2{
  grid-template-columns: 205px 205px;
}
.d-icon-650{
  display: flex;
  font-size: 15px;
  padding: 12px;
  position: absolute;
  right: 0;
  height: 100%;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; 
}
}

@media (max-width: 550px) {
  .form-col-1{
    grid-template-columns: 60vw;
  }
  .form-col-2{
    grid-template-columns: 30vw 30vw;
  }
  #form-body .image{
    display: none;
  }  
  .form-control-half,
  .form-btn,
  .form-link,
  .form-control{
    grid-column: 1/3;
  }
  .table-box,
  .form-box{
    padding: 2rem;
  }
  #form-body{
    box-shadow: none;
    border-radius: 0;
  }
}

