*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  user-select: none;
  margin-block-start: 0;
  margin-block-end: 0;
}
.grid{
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 2rem 15%;
}

.btn{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-weight: bold;
  background-color: #263b7a;
  border: 2px solid #263b7a;
  color: #e6e6e6;
  border-radius: 8px;
}
.ca-btn-g{
  display: flex;
}

.btn:hover{
  color: white;
  border: 2px solid #6178bd;
}
.h1{
  font-size: 48px;
  text-wrap: nowrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.h2{
  font-size: 32px;
  text-wrap: nowrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.p{
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-yellow{
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #ffc61b;
  background-color: #ffc61b;
  font-weight: bold;
  color: #2b2b2b;
  font-size: 1rem;
}

.btn-yellow:hover{
  border-color: #fde287;
  color: #000000;
}
.cards{
  grid-column: 1/ span 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 1rem 0;
}

.sh1{
  width: 8px;
  height: 100%;
  background-color: #263b7a;
  margin-right: .5rem;
  float: left;
}
.sh2{
  width: 8px;
  height: 100%;
  background-color: #ffc61b;
  margin-right: .5rem;
  float: left;
}

#navbar{
  z-index: 9999;
  background-color: white;
  position: sticky;
  top: 0px;
  padding: 1rem 15%;
} 
.footer-container {
  background-color: #0b0a31;
  padding: 2rem 15%;
  color: lightgray;
}

input{
  border: none;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  margin: 4px 0;
  outline: none;
}
.input-group input{
  padding: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
}
.input-group{
  padding: 8px;
  display: flex;
  align-items: center;  
  background-color: white;
  border-radius: 8px;
}
.input-group span{
  display: flex;
}
.input-group-icon{
  color: black;
  font-size: 18px;
}

.form-control > input:focus,
.input-group:focus-within {
  outline: 2px solid #ffc61b;
  border-radius: 5px;
}
@media screen and (max-width: 1250px) {
  .footer-container,
    .grid{
      padding: 2rem 10%;
    }
    #navbar{
        padding: 1rem 10%;
    }
}


@media screen and (max-width: 1150px) {
  .footer-container,
  .grid{
    padding: 2rem 5%;
  }
  #navbar{
      padding: 1rem 5%;
  }
}