*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  user-select: none;
  margin-block-start: 0;
  margin-block-end: 0;
}
.grid{
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 2rem 15%;
}

.btn{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-weight: bold;
  background-color: #263b7a;
  border: 2px solid #263b7a;
  color: #e6e6e6;
  border-radius: 8px;
}
.btn:hover{
  color: white;
  border: 2px solid #6178bd;
}
.h1{
  font-size: 48px;
  text-wrap: nowrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.h2{
  font-size: 32px;
  text-wrap: nowrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.p{
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-yellow{
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #ffc61b;
  background-color: #ffc61b;
  font-weight: bold;
  color: #2b2b2b;
  font-size: 1rem;
}

.btn-yellow:hover{
  border-color: #fde287;
  color: #000000;
}
.cards{
  grid-column: 1/ span 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 1rem 0;
}