#confPayment{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}
.doneImg{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.doneImg img{
    height: 250px;
}
.failImg{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.failImg img{
    height: 170px;
}